<div class="fixed-width">
  <h2>Añadir objeto</h2>
  
  <h3><a href="<%= goToNegotiation %>">Volver a la Negociación</a></h3>
  
  <div>
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
     <table class="form">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Añadir a la Negociación</th>
          </tr>
        </thead>
  
         <tbody>
           <% objectList.forEach(object => { %>
               <tr>
                <td><%= object.name %></td>
                <td><%= object.state %></td>
                <td><%= object.category.name %></td>
                <td><%= object.description %></td>
                <td>
                <form action="<%= addObjectPath %>" method="post">
                  <input type="hidden" name="negotiationId" value=<%= negotiation.id %>  />
                  <input type="hidden" name="objectId" value="<%= object.id %>" />
                  <input type="submit" name="add" value="Añadir" class="btn"/>
                </form>
              </td>
               </tr>
           <% }) %>
         </tbody>
     </table>
  </div>
  
  <h2>Lista de Objetos</h2>
  <% if (!objects.length) { %>
    <p>Sin resultados</p>
  <% } else { %>
    <table id="generic-list">
      <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Quitar</th>
          </tr>
      </thead>
      <tbody>
        <% objects.forEach((object, index) => { %>
          <tr>
            <td><%- (index + 1) %></td>
            <td><%- object.name %></td>
            <td>
              <form action="<%= deleteObject %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="negotiationId" value="<%= negotiation.id %>">
                <input type="hidden" name="objectId" value="<%= object.id %>">
                <input type="submit" value="Quitar" class="btn">
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>
