<h2>Mis Negociaciones</h2>
<% if (!negotiationsList.length) { %>
  <p>No tienes ninguna negociación aún.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>With</th>
        <th>State</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% negotiationsList.forEach((negotiation) => { %>
        <tr>
          <% if(negotiation.customerId != currentUser.id){ %>
            <td><%= negotiation.customerId %></td>
          <% } else {%>
          <td><%= negotiation.sellerId %></td>
          <% } %>
          <td><%= negotiation.state %></td>
          <td><a href="<%= showNegotiationPath(negotiation) %>">Ver Detalles</a></td>
          <td>
            <form action="<%= deleteNegotiationPath(negotiation) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
