<h2>My Negotiations</h2>
<% if (!negotiationsList.length) { %>
  <p>You have no negotiations yet.</p>
  <form action="<%= createURL %>" method="POST">
    <input type="hidden" name="customer" value=1 />
    <input type="hidden" name="seller" value=1 />
    <input type="hidden" name="state" value="In Progress" />
    <input type="submit" name="create" value="Crear una de prueba" />
  </form>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Seller</th>
        <th>State</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% negotiationsList.forEach((negotiation) => { %>
        <tr>
          <td><%= negotiation.customer %></td>
          <td><%= negotiation.seller %></td>
          <td><%= negotiation.state %></td>
          <td><a href="<%= showNegotiationPath(negotiation) %>">See Details</a></td>
          <td>
            <form action="<%= deleteNegotiationPath(negotiation) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
