<h2>Negociacion entre <%= customer.username %> y <%= seller.username %></h2>
<% if(negotiation.state == "In Progress") { %>
  <form action="<%= editNegotiationPath %>" method="POST">
    <input type="hidden" name="_method" value="patch" />
    <input type="hidden" name="state" value="Accepted" />
    <input type="submit" value="Aceptar Oferta" />
  </form>
  <form action="<%= editNegotiationPath %>" method="POST">
    <input type="hidden" name="_method" value="patch" />
    <input type="hidden" name="state" value="Cancelled" />
    <input type="submit" value="Cancelar Negociacion" />
  </form>
<% } else { %>
  <button type="button" name="button" disabled><%= negotiation.state %></button>
  <% if (currentReview) { %>
    <button type="button" name="button" disabled>Ya realizaste una review</button>
  <% } else { %>
    <form action="<%= newReviewPath %>" method="POST">
      <input type="hidden" name="reviewerId" value="<%= currentRole.id %>" />
      <input type="hidden" name="reviewedId" value="<%= otherRole.id %>" />
      <input type="hidden" name="reviewedName" value="<%= otherRole.username %>" />
      <input type="hidden" name="negotiationId" value="<%= negotiation.id %>" />
      <input type="submit" value="Hacer una Review" />
    </form>
  <% } %>
<% } %>

<form action="<%= deleteNegotiationPath %>" method="POST">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" />
</form>
<div id=chat>
  <h3>Chat con <%= otherRole.username %></h3>
  <% messagesList.forEach((message) => { %> %>
    <% if (customer.id == message.senderId){ %>
      <%= customer.username %>
    <% } else { %>
      <%= seller.username %>
    <% } %>
    : <%= message.text %> (<%= message.createdAt.toLocaleString("es-CL") %>) <br>
  <% }) %>
  <% if(negotiation.state == "In Progress") { %>
    <form action="<%= newMessagePath  %>" method="POST">
      <input type="hidden" name="senderId" value=<%= currentRole.id %> />
      <input type="hidden" name="receiverId" value=<%= otherRole.id %> />
      <input type="hidden" name="negotiationId" value=<%= negotiation.id %> />
      <textarea type="text" name="text" placeholder="Escribe un mensaje..."></textarea>
      <input type="submit" value="Enviar" />
    </form>
  <% } %>
<div>
<br>
<br>
<br>

<h2>Lista de Objetos</h2>
<% if (!objects.length) { %>
  <p>No hay objetos aún.</p>
<% } else { %>
  <table id="generic-list">
    <thead>
        <tr>
          <th>N</th>
          <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
      <% objects.forEach((object, index) => { %>
        <tr>
          <td><%- (index + 1) %></td>
          <td><%- object.name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if(negotiation.state == "In Progress") { %>
  <a href="<%= addObjectPath %>">Añadir Objeto</a>
<% } %>
