<div class="fixed-width">
  <h2>Negociacion con <%= otherRole.username %></h2>
  <div class="flexbox-container">
  <input type="hidden" id="currentUser" value="<%= currentUser.id %>">
  <% if(negotiation.state == "In Progress") { %>
      <form action="<%= editNegotiationPath %>" method="POST">
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="state" value="Accepted" />
        <input type="submit" value="Aceptar Oferta" class="btn"/>
      </form>
      <form action="<%= editNegotiationPath %>" method="POST">
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="state" value="Cancelled" />
        <input type="submit" value="Cancelar Negociacion" class="btn"/>
      </form>
    <% } else { %>
      <button type="button" name="button" disabled  class="btn">Negociación Aceptada</button>
  </div>
  <% if (negotiation.state == "Accepted") { %>
    <div class="form">
      Felicidades, han podido realizar un X-Change exitoso!
      <br>
      Aquí está el email y telefono de <%= otherRole.username %>
      <br>
      mail: <%= otherRole.mail %>
      <br>
      telefono: <%= otherRole.number %>
    </div>
  <% } else if (negotiation.state == "Cancelled") { %>
    <div class="form">
      Es una pena que no haya funcionado el X-Change ;(
    </div>
  <% } %>
  <br>
  <% if (currentReview) { %>
    <div class="border" id="review">
        <h3>Tu review fue</h3>
        <% reviews.forEach(review => { %>
          <% if(review.reviewerId == currentUser.id){ %>
            <label for="rating">Rating:</label>
            <span name="rating"><%= review.rating %></span>
            |
            <label for="text">Texto:</label>
            <span name="text"><%= review.text %></span>
          <% } %>
        <% }); %>
      </div>
      <% } %>
    <br>
    <% if (currentReview) { %>
      <button type="button" name="button" disabled class="btn">Ya realizaste una review</button>
      <% } else { %>
      <form action="<%= newReviewPath %>" method="POST">
        <input type="hidden" name="reviewerId" value="<%= currentRole.id %>" />
        <input type="hidden" name="reviewedId" value="<%= otherRole.id %>" />
        <input type="hidden" name="reviewedName" value="<%= otherRole.username %>" />
        <input type="hidden" name="negotiationId" value="<%= negotiation.id %>" />
        <input type="submit" value="Hacer una Review" class="btn"/>
      </form>
    <% } %>
  <% } %>

  <br>
  <br>
  <div id=chat>
    <div class="chat-title">Chat con <%= otherRole.username %></div>
    <div id=messages>
      <% messagesList.forEach((message) => { %> %>
        <div>
          <% if (message.senderId == currentUser.id){ %>
            <div class="wrapper-me">
              <div class="me">
                <%= message.text %>
                <div class="time"><%= message.createdAt.toLocaleString('es-CL', { hour12: false }).slice(09,15) %></div>
              </div>
            </div>
          <% } else { %>
            <div class="other">
              <%= message.text %>
              <div class="time"><%= message.createdAt.toLocaleString('es-CL', { hour12: false }).slice(09,15) %></div>
            </div>
          <% } %>
        </div>
      <% }) %>
    </div>
    <% if(negotiation.state == "In Progress") {%>
    <div id="send">
      <% if(negotiation.state == "In Progress") { %>
        <form id="send-message" action="<%= newMessagePath  %>" method="POST">
          <input type="hidden" name="senderId" value=<%= currentRole.id %> />
          <input type="hidden" name="receiverId" value=<%= otherRole.id %> />
          <input type="hidden" name="negotiationId" value=<%= negotiation.id %> />
          <div class="wrapper-textarea"><textarea id="m" type="text" name="text"></textarea> </div>
          <input id="send-btn" type="submit" value="Enviar" class="btn" id="enter"/>
        </form>
      <% } %>
    </div>
    <% } %>
  </div>
  <br>

  <div id="object-list">
    <h2>Lista de Objetos</h2>
    <div class="form">
      <% if (!objects.length) { %>
        <p>No hay objetos aún.</p>
      <% } else { %>
        <table id="generic-list">
          <thead>
              <tr>
                <th>N</th>
                <th>Nombre</th>
                <% if (negotiation.state == "In Progress") { %>
                  <th>Quitar</th>
                <% } %>
              </tr>
          </thead>
          <tbody>
            <% objects.forEach((object, index) => { %>
              <tr>
                <td><%- (index + 1) %></td>
                <td><%- object.name %></td>
                <td>
                  <form action="<%= deleteObject %>" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="negotiationId" value="<%= negotiation.id %>">
                    <input type="hidden" name="objectId" value="<%= object.id %>">
                    <% if (negotiation.state == "In Progress") { %>
                      <input type="submit" value="Quitar" class="btn">
                    <% } %>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
    </div>
    <br>
    <% if(negotiation.state == "In Progress") { %>
      <a class="btn" href="<%= addObjectPath %>">Añadir Objeto</a>
    <% } %>
  </div>

</div>
