<h2>Negotiation between <%= negotiation.customer %> and <%= negotiation.seller %></h2>
<% if(negotiation.state == "In Progress") { %>
  <form action="<%= editNegotiationPath %>" method="POST">
    <input type="hidden" name="_method" value="patch" />
    <input type="hidden" name="state" value="Accepted" />
    <input type="submit" value="Accept Offer" />
  </form>
  <form action="<%= editNegotiationPath %>" method="POST">
    <input type="hidden" name="_method" value="patch" />
    <input type="hidden" name="state" value="Cancelled" />
    <input type="submit" value="Cancel Negotiation" />
  </form>
<% } else { %>
  <button type="button" name="button" disabled><%= negotiation.state %></button>
  <% if (true) { %> <!-- Add condition if current.user haven't reviewed yet -->
    <form action="<%= newReviewPath %>" method="POST">
      <input type="hidden" name="reviewer" value="<%= negotiation.customer %>" />
      <input type="hidden" name="reviewed" value="<%= negotiation.seller %>" />
      <input type="hidden" name="negotiation" value="<%= negotiation.id %>" />
      <input type="submit" value="Do a Review" />
    </form>
  <% } %>
<% } %>

<form action="<%= deleteNegotiationPath %>" method="POST">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" />
</form>
<div id=chat>
  <h3>Chat with <%= negotiation.customer %></h3>
  <% messagesList.forEach((message) => { %> %>
    <%= message.sender %>: <%= message.text %>
    <%= message.createdAt.toLocaleString("es-CL") %> <br>
  <% }) %>
  <% if(negotiation.state == "In Progress") { %>
    <form action="<%= newMessagePath  %>" method="POST">
      <input type="hidden" name="sender" value=<%= negotiation.customer %> />
      <input type="hidden" name="receiver" value=<%= negotiation.seller %> />
      <input type="hidden" name="negotiation" value=<%= negotiation.id %> />
      <textarea type="text" name="text" placeholder="Escribe un mensaje..."></textarea>
      <input type="submit" value="Send" />
    </form>
  <% } %>
<div>
<br>
<br>
<br>

<h2>Objects List</h2>
<% if (!objects.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="generic-list">
    <thead>
        <tr>
          <th>N</th>
          <th>Name</th>
        </tr>
    </thead>
    <tbody>
      <% objects.forEach((object, index) => { %>
        <tr>
          <td><%- (index + 1) %></td>
          <td><%- object.name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>

<% if(negotiation.state == "In Progress") { %>
  <a href="<%= addObjectPath %>">New Object</a>
<% } %>
