<div>
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% locals.errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <a href="<%= home %>">Back to the list</a>
 <form action="<%= submitObjectPath %>" method="post">
   <% if (!object.isNewRecord) { %>
     <input type="hidden" name="_method" value="patch" />
   <% } %>
   <div class="field">
     <label for="userId">userId</label>
     <input type="text" name="userId" value="<%= object.userId %>"  />
   </div>
   <div>
      <label for="categoryId">category Id</label>
      <select name="categoryId" value="<%= object.categoryId %>">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
   </div>
   <div class="field">
     <label for="name">Name</label>
     <input type="text" name="name" value="<%= object.name %>"  />
   </div>
   <div>
      <label for="state">State of Object</label>
      <select name="state" value="<%= object.state %>">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
   </div>
   <div class="field">
     <label for="description">description</label>
     <input type="text" name="description" value="<%= object.description %>"  />
   </div>
   <div class="field">
     <% if (object.isNewRecord) { %>
       <input type="submit" name="create" value="Create"  />
     <% } else {%>
       <input type="submit" name="update" value="Update"  />
     <% } %>
   </div>
 </form>
</div>
