<div class="fixed-width">
  <% if (!object.isNewRecord) { %>
    <h3>Actualizar Objeto</h3>
  <% } else { %>
    <h3>Nuevo Objeto</h3>
   <% } %>

  <% if (locals.errors) { %>
    <div class="errors">
      <p>Debes arreglar los siguientes errores </p>
      <ul>
        <% locals.errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <a href="<%= inventory(currentUser) %>">Volver al inventario</a>
  <div class="form">
    <form action="<%= submitObjectPath %>" method="post">
      <% if (!object.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="views" value="<%= object.views %>" />
        <input type="hidden" name="state" value="<%= object.state %>" />
      <% } else { %>
        <input type="hidden" name="views" value="0"  />
        <input type="hidden" name="state" value="true" />
       <% } %>
      <input type="hidden" name="userId" value="<%= currentUser.id %>"  />
      <div class="field">
         <label for="name">Nombre del objeto</label>
         <input type="text" name="name" value="<%= object.name %>" class="float-r" />
      </div>
       
      <div>
         <label for="categoryId">Categoria</label>
         <select name="categoryId" value="<%= object.categoryId %>" id="categoryId" class="float-r">
           <% categoryList.forEach((category)=> { %>
             <option value="<%= category.id %>"><%= category.name %></option>
           <% }) %>
         </select>
      </div>
       
      <div class="field">
        <label for="description">Descripción</label>
        <input type="text" name="description" value="<%= object.description %>" class="float-r"/>
      </div>
     
      <div class="field">
        <% if (object.isNewRecord) { %>
          <input type="submit" name="create" value="Crear"  />
        <% } else {%>
          <input type="submit" name="update" value="Actualizar"  />
        <% } %>
      </div>
    </form>
  </div>
</div>
