<div class="fixed-width">

  <% if (locals.errors) { %>
    <div class="errors">
      <p>Debes arreglar los siguientes errores </p>
      <ul>
        <% locals.errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <div class="flex-item bg-gray" id="profile_form">
    <form action="<%= submitObjectPath %>" method="post" class="border form">
      <% if (!object.isNewRecord) { %>
        <h1 class="center title-register">Actualizar objeto</h1>
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="views" value="<%= object.views %>" />
        <input type="hidden" name="state" value="<%= object.state %>" />
      <% } else { %>
        <input type="hidden" name="views" value="0"  />
        <input type="hidden" name="state" value="true" />
       <% } %>
      <input type="hidden" name="userId" value="<%= currentUser.id %>"  />
      <div class="field center">
         <input type="text" name="name" value="<%= object.name %>" class="input-register" />
      </div>

      <div class="center">
         <select name="categoryId" id="categoryId" class="input-register dropdown">
           <option value="<%= categoryObject.id%>"><%= categoryObject.name %></option>
           <% categoryList.forEach((category)=> { %>
             <%if (category.id !== categoryObject.id) { %>
               <option value="<%= category.id %>"><%= category.name %></option>
             <% } %>

           <% }) %>
         </select>
      </div>

      <div class="field center">
        <input type="text" name="description" value="<%= object.description %>" class="input-register"/>
      </div>

      <div class="field center">
        <% if (object.isNewRecord) { %>
          <input type="submit" name="create" value="Crear"  />
        <% } else {%>
          <input class="btn" type="submit" name="update" value="Actualizar"  />
        <% } %>
      </div>
    </form>
  </div>
</div>
