<% if (!currentUser.isModerator){ %>
  <h1>Error</h1>
  <p>Acceso restringido</p>
<% } %>

<% if (!objectsList.length){ %>
  <h2> Objects </h2>
  <p>No results</p>
<% } else if (currentUser.isModerator){ %>
<h2> Objects </h2>
  <table>
    <thead>
      <tr>
        <th>userId</th>
        <th>CategoryId</th>
        <th>Name</th>
        <th>State</th>
        <th>Description</th>
        <th>Views</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% objectsList.forEach((object) => { %>
        <tr>
          <td><%= object.userId %></td>
          <td><%= object.categoryId %></td>
          <td><%= object.name %></td>
          <td><%= object.state %></td>
          <td><%= object.description %></td>
          <td><%= object.views %></td>
          <td><a href="<%= showObjectPath(object) %>">Ver</a></td>
          <td><a href="<%= editObjectPath(object) %>">Edit</a></td>
          <td>
            <!-- única forma de hacer un metodo que no sea GET es a través de un formulario-->
            <form action="<%= deleteObjectPath(object) %>" method="POST">
              <input type="hidden" name="_method" value="delete"  />
              <!-- para sobre escribir un método es necesatio unar _method-->
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>