
<div class="fixed-width-lg">
  <% if (currentUser) { %>
  <div>
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% locals.errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% }} %>

  <div>
    <div>
        <div>
            <div class="flexbox-item center">
              <h1 class="show-title"><%= object.name %></h1>
            </div>
            <div class="form show-container">
              <div class="show-info">
              <div class="flexbox-item">
                Estado:
                <%= object.state ? 'Disponible' : 'No Disponible' %>
              </div>
              <div class="flexbox-item">
                Dueño del objeto:
                <%= owner.username %>
              </div>
              <div class="flexbox-item">
                Categoria:
                <%= category %>
              </div>
              <div class="flexbox-item">
                Descripción:
                <%= object.description %>
              </div>
              </div>
              <% if(currentUser.id == object.userId) { %>
                <a class="btn show-btn" href="<%= editObjectPath %>">Editar objeto</a>
              <% } %>
            </div>
        </div>
    </div>
  </div>

  <% if (currentUser) {%>
      <% if (currentUser.id !== object.userId) { %>
          <form id="create-negotiation" action="<%= createNegotiation  %>" method="POST">
              <input type="hidden" name="customerId" value=<%= object.userId %>>
              <input type="hidden" name="state" value="In Progress">
              <input type="hidden" name="sellerId" value=<%= currentUser.id %>>
              <input type="submit" value="Crear negociación" />
          </form>
      <% } %>
  <% } %>
</div>

<div class="slideshow-container">


<% if (photos.length) {%>
  <% for (var i = 0; i < photos.length; i++) { %>
    <a class="mySlides fade" href="">
      <div class="numbertext"><%= i+1 %> / <%= photos.length %></div>
      <img src="https://xchangestorage.s3.us-east-2.amazonaws.com/<%=photos[i].fileName%>">
    </a>
  <% } %>
<% } else {%>
    <a class="mySlides fade" href="">
      <div class="numbertext"><%= 0 %> / <%= photos.length %></div>
      <img src="https://xchangestorage.s3.us-east-2.amazonaws.com/no_disponible.jpg">
    </a>
<% } %>

 <!-- Next and previous buttons -->
 <a class="prev">&#10094;</a>
 <a class="next">&#10095;</a>
</div>

<!-- The dots/circles -->
<br>

<div class="dots">
  <% for (var i = 0; i < photos.length; i++) { %>
 <span class="dot"></span>
 <% } %>
</div>

<br>

<% if (currentUser.id == object.userId){ %>
  <form action="<%= submitObjectPath %>" enctype="multipart/form-data" method="post" >
    <div class="field">
      <label for="list">Seleccionar archivo</label>
      <input type="file" name="list" />
    </div>
    <br>
    <div class="field">
      <input type="submit" name="upload" value="Subir imagen" class="btn"/>
    </div>
  </form>
</div>
<% } %>
