<div class="fixed-width-lg flexbox-container" id="search">
  <h2> Artículos categoría <%= category.name %>
  <div class="form">
    <div id="container">
        <nav aria-label=...>
          <ul class=pagination>
            <li id="previous-page"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li>
          </ul>
        </nav>
        <div id="page">
          <% if (!objectsList.length) { %>
            <div class="group">
              <a href="javascript:void(0)" class="group-item active">
                <h4 class="group-item-heading">No hay aún elementos.</h4>
              </a>
            </div>
          <% } else { %>
            <% objectsList.forEach((object) => { %>
          <div class="group">
            <a href="<%= viewObjectPath(object) %>" class="group-item active">
              <h4 class="group-item-heading"><%= object.name %></h4>
              <p class="group-item-text"><%= object.description %></p>
              <p class="group-footer">Dueño: <%= object.user.username %></p>
              <p class="group-footer">Ubicación: <%= object.user.region %></p>
            </a>
          </div>
          <% }) %>
          <% } %>
        </div>
    </div>
  </div>
</div>
