<div class="fixed-width">
  <% if (locals.errors) { %>
    <div class="errors">
      Tienes los siguientes errores:
      <ul>
        <% locals.errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  
  <div class="form">
    <form action="<%= submitReviewPath %>" method="POST">
      <input type="hidden" name="reviewerId" value=<%= reviewerId %> />
      <input type="hidden" name="reviewedId" value=<%= reviewedId %> />
      <input type="hidden" name="negotiationId" value=<%= negotiationId %> />
      <div>
        <label for="rating">Rating</label>
        <input type="number" name="rating" min="1" max="5" placeholder="Valoración" value="1">
        <textarea type="text" name="text" placeholder="Añade un comentario..."></textarea>
      </div>
       
      <input type="submit" value="Enviar la Valoración" class="btn"/>
    </form>
  </div>
  
</div>
