<div class="fixed-width-lg">
   <div id="profilePic"></div>
    <div class="form">
        <div>
            <div>
                Región: <%= currentUser.region %>
            </div>
            <div>
                Cantidad de X-Changes: <%= xChangesCount %>
            </div>
            <div>
                Promedio de Reseñas:
                <div class="ratings">
                  <% for (var i = 0; i < avgRating; i++) { %>
                    <div class="star active-star">★</div>
                  <% } %>
                  <% for (var i = 0; i < 5 - avgRating; i++) { %>
                    <span class="star">★</span>
                  <% } %>
                </div>
            </div>
        </div>
    </div>
     
    <a href="<%= editProfile %>">Editar perfil</a>

    <% if (reviews.length > 0) { %>

      <h2 class="opinions-reviews">Opiniones</h2>
      <h2 class="relevants">Más recientes</h2>
      <h3 class="opinions-users">Opiniones de usuarios</h3>
      <% if (currentUser.id == reviews[0].reviewedId) {%>
        <% reviews.forEach(review => { %>
          <% const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat .formatToParts(review.createdAt ) %>
          <div class="review-container">
            <div id="profile-pic">
              <a href="<%= otherProfile(review.reviewer) %>">
              <img src="<%=`https://xchangestorage.s3.us-east-2.amazonaws.com/${review.reviewer.profilePicture}`%>">
              </a>
            </div>
          <div class="review-content">
            <h3><%= review.reviewer.username %></h3>
              <div class="ratings">
                <% for (var i = 0; i < review.rating; i++) { %>
                  <div class="star active-star">★</div>
                <% } %>
                <% for (var i = 0; i < 5 - review.rating; i++) { %>
                  <span class="star">★</span>
                <% } %>
                <span class="review-time"><%= `${day}-${month}-${year}` %></span>
              </div>
            <p><%= review.text %></p>
          </div>
        </div>
        <% }) %>
      <% } %>
    <% } else { %>
        <h2 class="opinions-reviews">No tienes opiniones aún</h2>
    <% } %>

</div>
