<div class="flex-container border">
    <div>
        <div class="flexbox-item">
            Image
        </div>
        <div>
            <%= currentUser.username %>
        </div>
        <div>
            <%= currentUser.region %>
        </div>
        <div>
            Amount of X-Changes
        </div>
        <div>
            Average review
        </div>
    </div>
</div>

<% if (currentUser.id == reviews[0].reviewedId) {%>
<div class="flex-container border">
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <% reviews.forEach(review => { %>
                <tr>
                    <td>
                        <a href="<%= otherProfile(review.reviewer) %>"><%= review.reviewer.username %></a>
                    </td>
                    <td>
                        <%= review.text %>
                    </td>
                    <td>
                        <%= review.rating %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% }%>