<div class="fixed-width-lg">
    <a href="<%= profile(currentUser) %>">Volver</a>
    <div id="image_profile">
      <img src=<%=`https://xchangestorage.s3.us-east-2.amazonaws.com/${currentUser.profilePicture}`%> alt="profile" />
    </div>
    <h1 class="center"><%= reviewer.username %></h1>
    <div class="form">
        Información sobre <%= reviewer.username %>
        <br>
        <br>
        <div>
            <div>
                Región: <%= reviewer.region %>
            </div>
            <div>
                Cantidad de X-Changes: 0
            </div>
            <div>
                Promedio de Reseñas
            </div>
        </div>
    </div>

    <% if (reviews.length > 0) { %>
      <h2 class="opinions-reviews">Opiniones</h2>
      <h2 class="relevants">Más recientes</h2>
      <h3 class="opinions-users">Opiniones de usuarios</h3>
      <% if (reviewer.id == reviews[0].reviewedId) {%>
        <% reviews.forEach(review => { %>
          <% const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat .formatToParts(review.createdAt ) %>
          <div class="review-container">
            <div id="profile-pic">
              <a href="<%= otherProfile(review.reviewer) %>">
              <img src="<%=`https://xchangestorage.s3.us-east-2.amazonaws.com/${review.reviewer.profilePicture}`%>">
              </a>
            </div>
          <div class="review-content">
            <h3><%= review.reviewer.username %></h3>
            <div id="header-review">
              <div class="ratings">
                <% for (var i = 0; i < review.rating; i++) { %>
                  <div class="star active-star">★</div>
                <% } %>
                <% for (var i = 0; i < 5 - review.rating; i++) { %>
                  <span class="star">★</span>
                <% } %>
                <span class="review-time"><%= `${day}-${month}-${year}` %></span>
              </div>
            </div>
            <p><%= review.text %></p>
          </div>
        </div>
        <% }) %>
      <% } %>
    <% } else { %>
        <h2 class="opinions-reviews">No tienes opiniones aún</h2>
    <% } %>

</div>
