<div class="fixed-width-lg flexbox-container" id="search">
  <div class="form">
    Buscar
    <br>
    <br>
    <form action="<%= submitSearchPath %>" method="post">
      <div>
        <label for="keywords">Palabras Clave: </label>
        <input type="text" name="keywords"  class="float-r">
      </div>
      <br>
      <div>
        <label for="state">State: </label>
        <select name="state" id="state" class="float-r">
          <option value="true">Disponible</option>
          <option value="false">No disponible</option>
        </select>
      </div>
      <br>
      <div>
        <label for="region">Region: </label>
        <select name="region" id="region" class="float-r">
          <option value="todas">Todas</option>
          <option value="Aisen del G. Carlos Ibáñez del Campo">Aisén del G. Carlos Ibáñez del Campo</option>
          <option value="Antofagasta">Antofagasta</option>
          <option value="Arica y Parinacota">Arica y Parinacota</option>
          <option value="Atacama">Atacama</option>
          <option value="Biobio">Biobío</option>
          <option value="Coquimbo">Coquimbo</option>
          <option value="La Araucania">La Araucanía</option>
          <option value="Libertador General Bernardo O'Higgins">Libertador General Bernardo O'Higgins</option>
          <option value="Los Lagos">Los Lagos</option>
          <option value="Los Rios">Los Ríos</option>
          <option value="Magallanes y de la Antartica Chilena">Magallanes y de la Antártica Chilena</option>
          <option value="Metropolitana de Santiago">Metropolitana de Santiago</option>
          <option value="Nuble">Ñuble</option>
          <option value="Tarapaca">Tarapacá</option>
          <option value="Valparaiso">Valparaíso</option>
        </select>
      </div>
      <br>
      <div>
        <label for="categoryId">Categoria: </label>
        <select name="categoryId" id="categoryId" class="float-r">
          <option value="todas">Todas</option>
          <% categoryList.forEach((category)=> { %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% }) %>
        </select>
      </div>
      <br>
      <div>
        <input type="submit" name="Submit"  value="Buscar" class="btn">
      </div>
    </form>
  </div>
  <div class="form">
    <div id="container">
        <nav aria-label=...>
          <ul class=pagination>
            <li id="previous-page"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li>
          </ul>
        </nav>

        <div id="page">
          <% if (!result.length) { %>
            <div class="group">
              <a href="javascript:void(0)" class="group-item active">
                <h4 class="group-item-heading">Lo siento, no se encontraron resultados relacionados a lo que buscas.</h4>
              </a>
            </div>
          <% } else { %>
            <% result.forEach((element) => { %>
            <% object = element.item.dataValues; %>
          <div class="group">
            <a href="<%= view(object) %>" class="group-item active">
              <h4 class="group-item-heading"><%= object.name %></h4>
              <p class="group-item-text"><%= object.description %></p>
              <p class="group-footer">Dueño: <%= object.user.username %></p>
              <p class="group-footer">Ubicación: <%= object.user.region %></p>
            </a>
          </div>
          <% }) %>
          <% } %>
        </div>
      </div>
  </div>
</div>
