<div class="flex-container">
  <div class="flexbox-item border">
    Buscar
    <form action="#">
      <div>
        <label for="keywords">Palabras Clave: </label>
        <input type="text" name="keywords">
      </div>
      <div>
        <label for="state">State: </label>
        <select name="state" id="state">
          <option value="true">True</option>
          <option value="false">False</option>
          <option value="proccess">Proccess</option>
        </select>
      </div>
      <div>
        <label for="region">Region: </label>
        <select name="region" id="region">
          <option value="Santiago">Santiago</option>
          <option value="Temuco">Temuco</option>
        </select>
      </div>
      <div>
        <label for="category">Categoria: </label>
        <select name="category" id="category">
          <option value="sport">Deporte</option>
          <option value="electronics">Tecnologia</option>
        </select>
      </div>
      <div>
        <input type="submit" name="Submit"  value="Buscar">
      </div>
    </form>
  </div>

  <div class="flexbox-item objects border">
    <h2> Objetos </h2>
    <% if (!objectsList.length) { %>
      <p>No results</p>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>UserId</th>
            <th>CategoryId</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripcion</th>
            <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <% objectsList.forEach((object) => { %>
            <tr>
              <td><%= object.userId %></td>
              <td><%= object.categoryId %></td>
              <td><%= object.name %></td>
              <td><%= object.state %></td>
              <td><%= object.description %></td>
              <td><a href="<%= view(object) %>">Ver</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
</div>