<div class="fixed-width-lg flexbox-container" id="search">
  <div class="form">
    Buscar
    <br>
    <br>
    <form action="<%= submitSearchPath %>" method="post">
      <div>
        <label for="keywords">Palabras Clave: </label>
        <input type="text" name="keywords"  class="float-r">
      </div>
      <br>
      <div>
        <label for="state">State: </label>
        <select name="state" id="state" class="float-r">
          <option value="true">Disponible</option>
          <option value="false">Se está intercambiando</option>
        </select>
      </div>
      <br>
      <div>
        <label for="region">Region: </label>
        <select name="region" id="region" class="float-r">
          <option value="todas">Todas</option>
          <option value="Aisen del G. Carlos Ibáñez del Campo">Aisén del G. Carlos Ibáñez del Campo</option>
          <option value="Antofagasta">Antofagasta</option>
          <option value="Arica y Parinacota">Arica y Parinacota</option>
          <option value="Atacama">Atacama</option>
          <option value="Biobio">Biobío</option>
          <option value="Coquimbo">Coquimbo</option>
          <option value="La Araucania">La Araucanía</option>
          <option value="Libertador General Bernardo O'Higgins">Libertador General Bernardo O'Higgins</option>
          <option value="Los Lagos">Los Lagos</option>
          <option value="Los Rios">Los Ríos</option>
          <option value="Magallanes y de la Antartica Chilena">Magallanes y de la Antártica Chilena</option>
          <option value="Metropolitana de Santiago">Metropolitana de Santiago</option>
          <option value="Nuble">Ñuble</option>
          <option value="Tarapaca">Tarapacá</option>
          <option value="Valparaiso">Valparaíso</option>
        </select>
      </div>
      <br>
      <div>
        <label for="categoryId">Categoria: </label>
        <select name="categoryId" id="categoryId" class="float-r">
          <option value="todas">Todas</option>
          <% categoryList.forEach((category)=> { %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% }) %>
        </select>
      </div>
      <br>
      <div>
        <input type="submit" name="Submit"  value="Buscar" class="btn">
      </div>
    </form>
  </div>
  <div class="form">
    <div class="flexbox-item objects border">
      <% if (!result.length && !objectsList) { %>
        <p>Lo siento, no se encontraron resultados de lo que estas buscando.</p>
      <% } else { %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>State</th>
              <th>CategoryId</th>
              <th>Description</th>
              <th>Owner</th>
              <th>Región</th>
              <th>ver</th>
            </tr>
          </thead>
          <tbody>
            <% result.forEach((element) => { %>
            <% object = element.item.dataValues; %>
              <tr>
                  <td><%= object.name %></td>
                  <td><%= object.state %></td>
                  <td><%= object.categoryId %></td>
                  <td><%= object.description %></td>
                  <td><%= object.user.username %></td>
                  <td><%= object.user.region %></td>
                  <td><a href="<%= view(object) %>">Ver</a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
  </div>
</div>

