<h1>Vista Users</h1>

<% if (!usersList.length) { %>
<p>No results</p>
<% } else{ %>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>mail</th>
            <th>Password</th>
            <th>number</th>
            <th>region</th>
            <th>profile picture</th>
        </tr>
    </thead>
    <tbody>
        <% usersList.forEach((user) => { %>
            <tr>
                <td><%= user.id_user %></td>
                <td><%= user.username %></td>
                <td><%= user.mail %></td>
                <td><%= user.password %></td>
                <td><%= user.number %></td>
                <td><%= user.region %></td>
                <td><%= user.profile_picture %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% } %>