<div>
  <h1 class="center">
    X-Change
  </h1>
</div>

<div>
  <h2 class="center">
    Most viewed objects
  </h2>
</div>
<!-- Slideshow container -->
<div class="slideshow-container">

<% for (var i = 0; i < mostViewed.length; i++) { %>
  <a class="mySlides fade" href="<%= showObjectPath(mostViewed[i]) %>">
  <div class="numbertext"><%= i+1 %> / <%= mostViewed.length %></div>
     <% if (mostViewed[i].photos.length > 0) { %>
       <img src="https://storage.cloud.google.com/xchange_storage/<%=mostViewed[i].photos[0].fileName%>">
     <% } else { %>
       <img src="https://storage.cloud.google.com/xchange_storage/no_disponible.jpg">
     <% }%>
  </a>
<% } %>

 <!-- Next and previous buttons -->
 <a class="prev">&#10094;</a>
 <a class="next">&#10095;</a>
</div>

<!-- captions -->
<% for (var i = 0; i < mostViewed.length; i++) { %>
  <div class="caption fade">
    <div class="title"><%= mostViewed[i].name %></div>
    <div class="description"><%= mostViewed[i].description %></div>
  </div>
<% } %>

<!-- The dots/circles -->
<div class="dots">
 <span class="dot"></span>
 <span class="dot"></span>
 <span class="dot"></span>
</div>
