<div class="fixed-width" id="profile_form">
  <% if (locals.notice) { %>
    <div className="notice"><%= notice %></div>
  <% } %>

  <% if (locals.error) { %>
    <div class="error">
      <%= error %>
    </div>
  <% } %>
  <form action="<%= createSessionPath %>" method="post" class="border form">
    <h1 class="center title-register">Iniciar Sesión</h1>
    <input type="hidden" name="_method" value="put" />
    <div class="field center">
      <input class="input-register" placeholder="Mail" type="mail" name="mail" value="<%= locals.email %>"  class="float-r"/>
    </div>

    <div class="field center">
      <input class="input-register" placeholder="Contraseña" type="password" name="password" value="<%= locals.password %>" class="float-r"/>
    </div>

    <div class="field center">
      <input type="submit" name="sign-in" value="Iniciar Sesión" class="btn"/>
    </div>
  </form>
</div>
