<div class="grid-container">
  <div class="inventory-title">Mi inventario</div>
<% objectsList.forEach((object) => { %>
  <a class="grid-item" href="<%= objectView(object) %>">
  <% if (object.photos.length > 0) { %>
    <img src="https://storage.cloud.google.com/xchange_storage/<%=object.photos[0].fileName%>">
  <% } else { %>
    <img src="https://storage.cloud.google.com/xchange_storage/no_disponible.jpg">
  <% }%>
    <div class="object-info">
      <div class="object-name"> <%= object.name %> </div>
      <div class="object-description"> <%= object.description %> </div>
      <div class="object-category"> Categoría: <%= object.category.name %> </div>
      <div class="object-views"> Vistas: <%= object.views %> </div>
      <div class="object-state"> Estado: <%= object.state %> </div>
    </div>
  </a>
<% }) %>
<% if (objectsList.length < 9) { %>
  <% for (var i = 0; i < 9 - objectsList.length; i++) { %>
    <div class="grid-item"></div>
  <% } %>
<% } %>
</div>

<div class="center">
  <a class="newObject" href="<%= newObject %>">Agregar objeto</a>
</div>
