<h2> Objects </h2>
<div class="flex-container">
    <div class="flexbox-item objects border">
      <% if (!objectsList.length) { %>
        <p>No results</p>
      <% } else { %>
        <table>
          <thead>
            <tr>
<<<<<<< HEAD
              <th>Name</th>
              <th>State</th>
              <th>CategoryId</th>
=======
              <th>UserId</th>
              <th>CategoryId</th>
              <th>Name</th>
              <th>State</th>
>>>>>>> c12511cef8f951269568dfd70e95d568b0045ebc
              <th>Description</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <% objectsList.forEach((object) => { %>
              <tr>
<<<<<<< HEAD
                <td><%= object.name %></td>
                <td><%= object.state %></td>
                <td><%= object.categoryId %></td>
=======
                <td><%= object.userId %></td>
                <td><%= object.categoryId %></td>
                <td><%= object.name %></td>
                <td><%= object.state %></td>
>>>>>>> c12511cef8f951269568dfd70e95d568b0045ebc
                <td><%= object.description %></td>
                <td><a href="<%= objectView(object) %>">View</a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
    </div>
<<<<<<< HEAD
  </div>

<div class="flex-container">
  <a href="<%= newObject %>">Agregar un nuevo objeto</a>
</div>
=======
  </div>
>>>>>>> c12511cef8f951269568dfd70e95d568b0045ebc
