<div class="flex-container">
    <div class="flexbox-item border">
        Image
    </div>
    <div class="flexbox-item">
        <div class="flex-container">
            <div class="flexbox-item">
                <h1><%= object.name %></h1>
            </div>
            <div class="flexbox-item">
                <%= object.state %>
            </div>
            <div class="flexbox-item">
                <%= object.userId %>
            </div>
            <div class="flexbox-item">
                <%= object.categoryId %>
            </div>
            <div class="flexbox-item">
                <%= object.description %>
            </div>
        </div>
    </div>
</div>
