
<div class="fixed-width-form">
    <div class="flex-item">
        <% if(newUser.isNewRecord) { %>
        <h1>Agregar un nuevo usuario</h1>
        <% } else { %>
        <h1>Actualiza al usuario <%= newUser.username %></h1>
        <% } %>
    </div>
    <br>

    <div class="flex-item bg-gray">
        <% if (locals.errors) { %>
            <div class="errors">
                You need to fix the following errors:
            <ul>
                <% locals.errors.forEach(error => { %>
                    <li><%= error.message %></li>
                <% }); %>
            </ul>
            </div>
        <% } %>
        <form action="<%= submitVariable %>" method="post" class="border form">
            <% if (!newUser.isNewRecord) { %>
                <input type="hidden" name="_method" value="patch"/>
            <% } %>
            <div>
                <label for="username" class="">Username</label>
                <input type="text" name="username" value="<%= newUser.username %>" class="float-r"/>
            </div>
            <br>
            <div>
                <label for="mail">mail</label>
                <input type="text" name="mail" value="<%= newUser.mail %>" class="float-r"/>
            </div>
            <br>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" class="float-r"/>
            </div>
            <br>
            <div>
                <label for="confirm_password">confirm password</label>
                <input type="password" name="confirm_password" value="<%= newUser.confirm_password %>" class="float-r"/>
            </div>
            <br>
            <div>
                <label for="number">number</label>
                <input type="number" name="number" value="<%= newUser.number %>" class="float-r"/>
            </div>
            <br>
            <div>
                <label for="region">Region</label>
                <select name="region" value="<%= newUser.region %>" id="region" class="float-r">
                  <option value="Metropolitana de Santiago">Metropolitana de Santiago</option>
                  <option value="Aisen del G. Carlos Ibáñez del Campo">Aisén del G. Carlos Ibáñez del Campo</option>
                  <option value="Antofagasta">Antofagasta</option>
                  <option value="Arica y Parinacota">Arica y Parinacota</option>
                  <option value="Atacama">Atacama</option>
                  <option value="Biobio">Biobío</option>
                  <option value="Coquimbo">Coquimbo</option>
                  <option value="La Araucania">La Araucanía</option>
                  <option value="Libertador General Bernardo O'Higgins">Libertador General Bernardo O'Higgins</option>
                  <option value="Los Lagos">Los Lagos</option>
                  <option value="Los Rios">Los Ríos</option>
                  <option value="Magallanes y de la Antartica Chilena">Magallanes y de la Antártica Chilena</option>
                  <option value="Nuble">Ñuble</option>
                  <option value="Tarapaca">Tarapacá</option>
                  <option value="Valparaiso">Valparaíso</option>
                </select>
            </div>
            <br>

            <br>

            <div>
                <% if (newUser.isNewRecord) { %>
                    <input type="submit" name="create" value="Create" class="btn">
                <% }else { %>
                    <input type="submit" name="update" value="Actualizar datos" class="btn">
                <% } %>

            </div>
        </form>
        <br>
    </div>
</div>
